
<!-- <h3>{{product}}</h3> -->
<div class="container">
  <div class="col-sm-12">
    <h2 class="bread-crumbs" style="font-size: 14px;">Products / {{product.category}} / {{product.name}}</h2>
  </div>
<div class="col-md-6 col-sm-6" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), url({{product.imageUrl}}); height:40vh; min-height: 400px; max-height: 500px; background-position: center; background-size: 120%; padding: 0; margin: 15px; background-repeat: no-repeat;" data-id="{{product._id}}">
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
  <h1>{{product.name}}</h1>
  <h3>{{product.price}}</h3>
  <p>{{product.description}}</p>
  <button class="add-to-cart btn btn-primary add-to-cart-button" data-id={{product._id}}>
    Add to Cart
  </button>
  <button class="add-to-cart btn btn-primary sign-in-to-buy" data-toggle="modal" data-target="#sign-in-modal">
    Sign in to Buy
  </button>
</div>
</div>
