{{#each products as |product|}}
<div class="col-lg-3 col-md-4 col-sm-6 text-center product-tile" style="min-height: 35vh; padding: 10vh 2vw 8vh 2vw; background-color: #efefef; border: 2px solid white;">
      <h3 data-id="{{product._id}}">
          {{product.name}}
      </h3>
        <!-- <h5>
          ID: {{product._id}}
        </h5> -->
        <p>
          {{product.description}}
        </p>
        <h4>
        Price: ${{product.price}}
      </h4>
        <button class="add-to-cart btn btn-primary add-to-cart-button" data-id={{product._id}}>
          Add to Cart
        </button>
</div>
{{/each}}
